---
layout: default
body_class: home
video_url: #
extra_script_tags:
extra_scripts: 
---

<div class="header">
        <video autoplay="true" loop="loop" preload="auto" muted poster="poster.jpg">
              <source src="http://sitesforchurch.s3.amazonaws.com/video.mp4" type="video/mp4">     
              <source src="http://sitesforchurch.s3.amazonaws.com/video2.webm" type="video/webm">  
        </video>
        <div class="mobile-vid-replacement"></div><!--/mobile-video-replacment-->
        <div class="header-content">
        <div class="main-nav">
            <a href="{{site.url}}/" class="logo"><img src="/assets/design/logo.png" alt=""></a>
            <a href="#" class="toggle-button"><i class="fa fa-bars"></i> MENU</a>
        </div><!--/main-nav-->
        <div class="main-cta">
        <h2><span class="first">I help your church, ministry or business</span> <br> <span class="second">get a great web site</span> <br> 
<span class="third">that accomplishes <em>your goals</em> <br>and fits <em>your budget</em>.</span></h2>
<a href="#" class="button hollow large"> <i class="fa fa-phone"></i>  Call Today For A Free Consult</a>
<div class="find-out">
    <a href="{{site.url}}/churches.html" class="church"><i class="fa fa-institution"></i> <br>Find Out How I Can Help Your <br><span>Church</span></a>
    <a href="{{site.url}}/missionaries.html" class="missionary"><i class="fa fa-globe"></i><br>Find Out How I Can Help Your <br><span>Deputation</span></a>
    <a href="{{site.url}}/business.html" class="business"><i class="fa fa-suitcase"></i><br>Find Out How I Can Help Your <br><span>Business</span></a>
</div><!--/find-out-->
</div><!--/main-cta-->
</div><!--/header-content-->
</div><!--/header-->
<div class="question">
    <h4>It starts with one question:</h4>
    <h3>If you had the magical ability to make the people who visit your website do <strong>one thing</strong>, what would it be?</h3>
    <p class="question-ul">In other words, do you want your website visitors to:</p>
    <ul class="question-ul">
        <li>Visit your church?</li>
        <li>Call you to setup a meeting or consultation?</li>
        <li>Sign-up for an email newsletter?</li>
        <li>Read a gospel presentation?</li>
        <li>Donate to a cause?</li>
        <li>Buy something?</li>
    </ul>
    <p>The answer to that question should determine how your site is designed.  <strong>Unfortunately, 90% of websites aren’t created with this focus in mind</strong>, which is why most people are dissatisfied with their websites.</p>
    <p>Whether I am making a website for a church, a missionary, a cause or a small business, I always try to keep this focus in mind and design something that draws people to do that one thing you want them to do.</p>

    <a href="#" class="button hollow"><i class="fa fa-phone"></i>  Call Today for A Free Consult</a>
</div><!--/question-->
<div class="find-out-section">
    <h3>Find Out How I Make Websites For...</h3>
    <div class="find-out-inner">
        <a href="{{site.url}}/churches.html"><img src="{{site.url}}/assets/design/churches_oval.png" alt=""> <p>Churches</p></a>
        <a href="{{site.url}}/missionaries.html"><img src="{{site.url}}/assets/design/missionaries_oval.png" alt=""> <p>Missionaries</p></a>
        <a href="{{site.url}}/missionaries.html"><img src="{{site.url}}/assets/design/fundraising_oval.png" alt=""> <p>Fundraising</p></a>
        <a href="{{site.url}}/business.html"><img src="{{site.url}}/assets/design/business_oval.png" alt=""> <p>Businesses</p></a>
    </div><!--/find-out-inner-->
</div><!--/find-out-->
<div class="what-clients-say">
    <h3>What Some Of My Clients Are Saying:</h3>
    <div class="testimonials">
        <div class="single-testimonial">
            <div class="person">
                <img src="http://sitesforchurch.s3.amazonaws.com/mark.jpg" alt="" class="person-thumb">
                <div class="details">
                    <h5>Mark Coffey</h5>
                    <p>Project North Africa/Camp Rhino</p>
                </div><!--/details-->
            </div><!--/person-->
            <p class="quote">
                "Great customer support and very easy to use after setup."   
            </p><!--/quote-->
        </div><!--/single-testimonal-->
        <div class="single-testimonial">
            <div class="person">
                <img src="http://sitesforchurch.s3.amazonaws.com/Bryan.jpg" alt="" class="person-thumb">
                <div class="details">
                    <h5>Bryan Ries</h5>
                    <p>Missionary to Thailand</p>
                </div><!--/details-->
            </div><!--/person-->
            <p class="quote">
                "When I was having issues with my website and needed help and a redesign, Ryan Hayden provided exactly the help I needed. As a pastor, he knew exactly how to structure our website and communicate to other pastors that would be visiting my website. The design work he does is very sharp and professional. The most important thing is how Ryan goes above and beyond to help you know how to keep the site updated on your own. I highly recommend his services and the price is better than I've found anywhere."   
            </p><!--/quote-->
        </div><!--/single-testimonal-->
        <div class="single-testimonial">
            <div class="person">
                <img src="http://sitesforchurch.s3.amazonaws.com/Screen%20Shot%202017-02-03%20at%202.50.44%20PM.png" alt="" class="person-thumb">
                <div class="details">
                    <h5>Polly Bennett</h5>
                    <p>TYCA Hood Cleaning</p>
                </div><!--/details-->
            </div><!--/person-->
            <p class="quote">
                "Oh wow! This looks great! This has been so easy."   
            </p><!--/quote-->
        </div><!--/single-testimonal-->
    </div><!--/testimonials-->
</div><!--/what-clients-say-->
<div class="recent-work">
    <h3>Recent Projects I've Worked On:</h3>
    <div class="portfolio">
    {% for item in site.portfolio limit: 4 %}
    <a href="#" class="{{item.name}}"><img src="{{item.thumbnail_image}}" alt=""></a>
    {% endfor %}
    </div><!--/portfolio-->
    
</div><!--/recent-work-->
<div class="portfolio-modals">
 {% for item in site.portfolio limit: 4 %}
        <div class="modal{{item.name}} hidden modal">
            <div class="modal-content">
             <a href="#" class="{{item.name}}modal-toggle modal-toggle"><i class="fa fa-times-circle"></i></a>
             <div class="modal-header">
                 <div class="img"><a href="{{item.site_url}}"><img src="{{item.large_image}}" alt="{{item.title}}"></a></div><!--/img-->
                 <div class="modal-header-text">
                 <h3>{{item.title}}</h3>
                 <a href="{{item.site_url}}">{{item.site_url}}</a>
                 </div><!--/modal-header-text-->
             </div><!--/modal-header-->
             <div class="text-content">
            {{item.content | markdownify }}
            </div><!--/text-content-->
            </div><!--/modal-content-->
        </div><!--/modal{{item.name}}-->
    {% endfor %}
    </div><!--/portfolio-modals-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for item in site.portfolio limit: 4 %}
        document.querySelector('.{{item.name}}').addEventListener('click', function(){
                document.querySelector('.modal{{item.name}}').classList.remove('hidden');
        });
        document.querySelector('.{{item.name}}modal-toggle').addEventListener('click', function(){
                document.querySelector('.modal{{item.name}}').classList.add('hidden');
        });
        {% endfor %}
    });
</script>
<div class="about-me">
    <img src="http://sitesforchurch.s3.amazonaws.com/thumbnail.png" alt="Ryan Hayden">
    <div class="about-me-inner">
        <h3>Ryan Hayden</h3>
        <p>I'm a pastor, a family man and workout fanatic that lives in Mattoon, IL.  Since 2004, I've worked making websites for churches, ministries and local businesses.</p>
        <ul>
            <li><a href="{{site.data.settings.facebook}}"><i class="fa fa-facebook"></i></a></li>
            <li><a href="{{site.data.settings.twitter}}"><i class="fa fa-twitter"></i></a></li>
            <li><a href="{{site.data.settings.instagram}}"><i class="fa fa-instagram"></i></a></li>
            <li><a href="{{site.data.settings.email}}"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div><!--/about-me-inner-->

</div><!--/about-me-->