<div class="about-me">
    <img src="http://sitesforchurch.s3.amazonaws.com/thumbnail.png" alt="Ryan Hayden">
    <div class="about-me-inner">
        <h3>Ryan Hayden</h3>
        <p>I'm a pastor, a family man and workout fanatic that lives in Mattoon, IL.  Since 2004, I've worked making websites for churches, ministries and local businesses.</p>
        <ul>
            <li><a href="{{site.data.settings.facebook}}"><i class="fa fa-facebook"></i></a></li>
            <li><a href="{{site.data.settings.twitter}}"><i class="fa fa-twitter"></i></a></li>
            <li><a href="{{site.data.settings.instagram}}"><i class="fa fa-instagram"></i></a></li>
            <li><a href="mailto:{{site.data.settings.email}}"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div><!--/about-me-inner-->

</div><!--/about-me-->