{% if  page.logo_card[0] == 'green_pastoral' %}
    class: logo
    background-image: url({{site.url}}/uploads/green_pastoral.jpg)
    {% endif %}
    {% if  page.logo_card[0] == 'blue_cross' %}
    class: logo
    background-image: url({{site.url}}/uploads/blue_cross.jpg)
    {% endif %}
    {% if  page.logo_card[0] == 'orange_mountains' %}
    class: logo
    background-image: url({{site.url}}/uploads/orange_mountains.jpg)
    {% endif %}
    {% if  page.logo_card[0] == 'gray_change' %}
    class: logo
    background-image: url({{site.url}}/uploads/gray_change.jpg)
    {% endif %}