
<a href="{{site.url}}/" class="logo"><img src="{{site.url}}/assets/design/logo2.png" alt=""></a>

<ul class="menu vertical">
    <li><a href="{{site.url}}/">Home</a></li>
    <li><a href="http://pastorryanhayden.com/about" target="blank">About Me <i class="fa fa-external-link"></i></a></li>
    <li><a href="http://sitesfor.church" target="blank">Church Websites  <i class="fa fa-external-link"></i></a></li>
    <li><a href="{{site.url}}/missionaries.html">Missionary Websites</a></li>
    <li><a href="{{site.url}}/business.html">Business Websites</a></li>
    <li><a href="http://pastorryanhayden.com" target="blank">Blog <i class="fa fa-external-link"></i></a></li>
    <li><a href="{{site.url}}/contact.html">Contact</a></li>
</ul>