<div class="what-clients-say">
    <h3>What Some Of My Clients Are Saying:</h3>
    <div class="testimonials">
        <div class="single-testimonial">
            <div class="person">
                <img src="http://sitesforchurch.s3.amazonaws.com/mark.jpg" alt="" class="person-thumb">
                <div class="details">
                    <h5>Mark Coffey</h5>
                    <p>Project North Africa/Camp Rhino</p>
                </div><!--/details-->
            </div><!--/person-->
            <p class="quote">
                "Great customer support and very easy to use after setup."   
            </p><!--/quote-->
        </div><!--/single-testimonal-->
        <div class="single-testimonial">
            <div class="person">
                <img src="http://sitesforchurch.s3.amazonaws.com/Bryan.jpg" alt="" class="person-thumb">
                <div class="details">
                    <h5>Bryan Ries</h5>
                    <p>Missionary to Thailand</p>
                </div><!--/details-->
            </div><!--/person-->
            <p class="quote">
                "When I was having issues with my website and needed help and a redesign, Ryan Hayden provided exactly the help I needed. As a pastor, he knew exactly how to structure our website and communicate to other pastors that would be visiting my website. The design work he does is very sharp and professional. The most important thing is how Ryan goes above and beyond to help you know how to keep the site updated on your own. I highly recommend his services and the price is better than I've found anywhere."   
            </p><!--/quote-->
        </div><!--/single-testimonal-->
        <div class="single-testimonial">
            <div class="person">
                <img src="http://sitesforchurch.s3.amazonaws.com/Screen%20Shot%202017-02-03%20at%202.50.44%20PM.png" alt="" class="person-thumb">
                <div class="details">
                    <h5>Polly Bennett</h5>
                    <p>TYCA Hood Cleaning</p>
                </div><!--/details-->
            </div><!--/person-->
            <p class="quote">
                "Oh wow! This looks great! This has been so easy."   
            </p><!--/quote-->
        </div><!--/single-testimonal-->
    </div><!--/testimonials-->
</div><!--/what-clients-say-->