.secondary-header
    width: 100%
    height: 150px
    background: url(/assets/design/footer_lodyas.png)
    .main-nav
        width: 90%
        max-width: 1200px
        margin-left: auto
        margin-right: auto 
        display: flex 
        justify-content: space-between 
        align-items: center
        height: 150px
        margin-bottom: 100px 
        a.toggle-button
            color: $main_light_color 