.what-clients-say
    background: url(/assets/design/testimonial-background.jpg) no-repeat center center
    background-size: cover
    color: lighten($main_light_color, 20%)
    padding: 50px 
    h3 
        font-weight: lighter 
        text-transform: uppercase
        font-size:  44px
        text-align: center
        max-width: 605px
        margin-left: auto 
        margin-right: auto
        margin-bottom: 50px
    .testimonials
        display: flex 
        justify-content: space-around 
        flex-wrap: wrap 
        .single-testimonial
            width: 280px
        p.quote
            text-align: justify
            font-size: 14px
            line-height: 20px
            font-style: italic 
            margin-top: 30px 
        .person
            display: flex
            align-items: center 
            img 
                width: 70px
                height: 70px
                border-radius: 100px
                margin-right: 8px
            .details 
                h5
                    font-size: 14px
                    font-weight: bold 
                    line-height: 20px 
                    margin-bottom: 0 
                    text-transform: uppercase
                p
                    font-size: 14px
                    font-weight: lighter 
                    line-height: 14px
                    margin-bottom: 0  

