<!doctype html>
<html class="no-js" lang="en">
  {% include head.html%}
  <body class="{{page.body_class}}">
  <nav id="menu">
      {% include menu.html %}
  </nav>
  <main id="panel">
      <div class="secondary-header">
           <div class="main-nav">
            <a href="{{site.url}}/" class="logo"><img src="{{site.url}}/assets/design/logo.png" alt=""></a>
            <a href="#" class="toggle-button"><i class="fa fa-bars"></i> MENU</a>
        </div><!--/main-nav-->
      </div><!--secondary-header-->
      <div class="content-wrapper">
          {{ content }}
         </div><!--/content-wrapper --->
    {% include portfolio.html %}
      {% include footer.html%}
  </main>
  </body>
</html>