<!doctype html>
<html class="no-js" lang="en">
  {% include head.html%}
  <body class="post secondary">
  <nav id="menu">
      {% include menu.html %}
  </nav>
  <main id="panel">
    <div class="secondary-header">
           <div class="main-nav">
            <a href="{{site.url}}/" class="logo"><img src="{{site.url}}/assets/design/logo.png" alt=""></a>
            <a href="#" class="toggle-button"><i class="fa fa-bars"></i> MENU</a>
        </div><!--/main-nav-->
      </div><!--secondary-header-->
  <div class="pageheader" style="background: url({{site.data.settings.main_image}}) no-repeat bottom center; background-size: cover;">
        <h1>{{page.title}}</h1>
      </div><!--/pageheader-->
      <div class="breadcrumbbar">
        <p><a href="{{site.url}}">Home</a> <i class="fa fa-angle-double-right"></i> <a href="{{site.url}}/blog/">Blog</a> <i class="fa fa-angle-double-right"></i>  {{page.title}}</p>
      </div><!--/breadcrumbbar-->
      <div class="content">
        <div class="content-wrapper">
        {% if page.pdf_url or page.jpg_url %}
          <div class="downloads">
            <a href="{{page.pdf_url}}" target="blank"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
            <a href="{{page.jpg_url}}" target="blank"><i class="fa fa-file-image-o"></i> Download JPG</a>
          </div><!--/downloads-->
          {% endif %}
          {% if page.featured_image %}
          <img class="featured_image" src="{{page.featured_image}}" alt="">
          {% endif %}
          {{ content }}
          <hr>
          {% if page.comments %}
          <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

/*
var disqus_config = function () {
this.page.url = '{{site.url}}/{{page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{page.title}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//ryan-hayden-digital-designer.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
          {% endif %}
          </div><!--/content-wrapper-->
          </div><!--/content-->
      {% include footer.html%}
  </main>
  <script id="dsq-count-scr" src="//ryan-hayden-digital-designer.disqus.com/count.js" async></script>
  </body>
</html>
